@CHARSET "UTF-8";

footer div{
	text-align:center;
}

nav div{
	width:90%;
	text-align:center;
	margin:auto;
}

div.modal-footer div{
	width:160px;
}

.popup{
	color:initial;
}

.blackcolor{
	color:black;
	width:98%;
	margin-left:1%
}

.publi{
	color:#0081BB;
}

.poweredby{
	position:relative;
	width:180px;
}

.texts{
	display:block;
	margin: 0 0;
	width:auto;	
	z-index:1;
}

nav{
	
	height:70px;
	z-index:25;
	font-weight:bolder;
}

.reddot{
	color:red;
}

footer{
	display:block;
	position:relative;
	bottom:0px;
	width:100%;	
	height:80px;
	border:1px black;
}

#formulario div {
	float:left;
}

.clearLines{
	clear:both;
}

#formulario div input, #formulario div textarea{
	padding: 10px;
	margin-left:5px;
	border: none;
	color:black;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}

#formulario div input:focus, #formulario div input.focus {
	border-bottom: solid 2px #969696;
}
#formulario{
	width:90%;
	margin:auto;
}

.txtarea{
	width:100%;
}